<html>
    <head>
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
      />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <title>
        Cell Cycle Russian Roulette
        </title>
        <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
        
      </head>
      <body>
        <div class="container">
            <h2>Question: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
            <br>
            <input type="radio" id="q1" name="answers">
            <label for="q1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            <br>
            <input type="radio" id="q2" name="answers">
            <label for="q2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            <br>
            <input type="radio" id="q3" name="answers">
            <label for="q3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            <br>
            <input type="radio" id="q4" name="answers">
            <label for="q4">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            <br>
            <button>Check</button>
        </div>
      </body>
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
      ></script>
<script>
    // add a list of questions and answers
    // add a function to check if the selected answer is right
    // add a function to remove used answers
    // add a function to hide the question div and show the button
    // add a function to roll a d6 to see if you die
    // add a function ro hide the button div and show the question div
    // add a function for the gun sound effect
    // add a function for the game to restart and add the used answers back
    console.log(randInt)
</script>
</html>